<%- include("./partials/header") %>

<section>
    <h2>Editing: #<%= pokeData.order %> <%= pokeData.name%></h2>
    <img src="<%= pokeData.imageUrl %>" alt="<%= pokeData.name%>" width="250px">

    

</section>

<%- include("./partials/footer") %> 