<%- include("./partials/header") %>
<form action="/" method="get">
    <label for="search">Search for a name:</label>
    <input type="text" id="search" name="q" value="<%= q %>">
    <button type="submit">Search</button>
</form>

<table>
    <tr>
        <th>Picture</th>
        <th><a href="/sort?sortby=name">Name</a></th>
        <th><a href="/sort?sortby=id">Pokédex ID</a></th>
        <th><a href="/sort?sortby=type">Type</a></th>
        <th>Meta pick</th>
        <th>Details</th>
    </tr>
    <% for(let pokemon of pokeData) { %>
        <tr>
            <td><img src="<%= pokemon.imageUrl %>" alt="<%= pokemon.name %>" width="75px"></td>
            <td><%= pokemon.name %></td>
            <td><%= pokemon.order %></td>
            <td><%= pokemon.type %></td>
            <td><%= pokemon.active %></td>
            <td><a href="/pokemon/<%= pokemon.name %>">More details</a></td>
        </tr>
    <% } %>
</table>

<%- include("./partials/footer") %>