<%- include("./partials/header") %>

<h1><%= pokeData[0].name%></h1>
<img src="<%= pokeData[0].imageUrl %>" alt="<%= pokeData[0].name%>" width="150px">
<ul>
    <li>Description: <%= pokeData[0].description%></li>
    <li>Type: <%= pokeData[0].type %></li>
    <li>Pokédex number: <%= pokeData[0].order %></li>
    <li>Meta pick: <%= pokeData[0].active %></li>
    <li>Hobbies: <%= pokeData[0].hobbies.join(", "); %></li>
    <li>Favorite move:
        <ul>
            <li>Name: <%= pokeData[0].favoriteAbility.name %></li>
            <li>Description: <%= pokeData[0].favoriteAbility.description %></li>
            <li>Type: <%= pokeData[0].favoriteAbility.type %></li>
            <li>Power: <%= pokeData[0].favoriteAbility.power === null ? "N/A" : pokeData[0].favoriteAbility.power %></li>
            <li>Accuracy: <%= pokeData[0].favoriteAbility.accuracy === null ? "N/A" : pokeData[0].favoriteAbility.accuracy %></li>
            <li>Move ID: <%= pokeData[0].favoriteAbility.id %></li>
        </ul>
    </li>
</ul>


<%- include("./partials/footer") %>